@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #3f3f3f;
}

body {
    color: #ededed;
    margin: 0;
    padding: 20px;
}

li {
    list-style: none;
  }

a {
    text-decoration: none;
}

img {
    width: 400px;
    height: 400px;
    margin: 2%;
}

p {
    list-style: none;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* .text {
    margin-right: 3%;
} */

h2 {
    font-size: 21px;
    margin-bottom: 40px;
}

.pict {
    /* width: 100%; */
    margin-left: 3%;
}

.pict img {
    /* width: 100%; */
    height: auto;
    
}

.box:nth-child(even) {
    flex-direction: row-reverse;
}

/* .box:nth-child(even) .text {
    text-align: right;
} */

.box:nth-child(even) .pict {
    margin-left: 0;
    margin-right: 3%;
}




.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
}

.site-title a {
    display: block;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0 4%;

    margin-bottom: 65px ;
    
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li a {
    color: #e9e9e9;
}

#header li a:hover {
    opacity: 0.7;
}

#header li img.icon {
    width: 20px;
}


/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#works p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 49%; */
    margin-bottom: 23px;
}




/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
    .wrapper {
        margin-bottom: 70px;
    }

    .site-title {
        margin-top: 20px;
    }

    .sec-title {
        margin-bottom: 40px;
    }

    /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li:first-child {
        margin-left: 0;
    }

    /*-------------------------------------------
  Works
  -------------------------------------------*/
    #works ul {
        flex-direction: column;
    }

    #works li {
        width: 100%;
    }

    .box {
        flex-direction: column;
    }

    .box:nth-child(even) {
        flex-direction: column;
    }

    .text {
        text-align: center;
    }

    .box:nth-child(even) .text {
        text-align: center;
    }

    .pict {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .box:nth-child(even) .pict {
        margin-left: 0;
        margin-right: 0%;
    }

    .pict img {
        width: 80%;
        height: auto;
    }
}